@import 'normalize';
@import 'mixins';

$primary-colour: #222;
$secondary-colour: #444;
$highlight-colour: #4dcdfd;
$dark-colour: #2a231d;
$light-colour: #ede2cc;
$sans: 'PT Sans', Helvetica, Arial, sans-serif;
$sans-narrow: 'PT Sans Narrow', Helvetica, Arial, sans-serif;
$sans-caption: 'PT Sans Caption', Helvetica, Arial, sans-serif;
$max-width: 480px;

body {
  background-color: $secondary-colour;
  @include transition(background-color, 1s, ease);
  color: $light-colour;
  text-align: center
}

a {
  color: $highlight-colour;
  text-decoration: none;
  @include transition(color, .3s, ease);
  &:hover {
    color: lighten($highlight-colour, 25%);
    @include transition(color, .3s, ease);
  }
}

h1 {
  font-family: $sans-narrow;
}

h2, h3, h4, h5, h6 {
  font-family: $sans-caption;
}

header,
article,
section,
footer,
.carousel-container {
  @extend .clearfix;
}

header {
  width: 100%;
  padding: .5em 0;
  text-align: center;
  background: $primary-colour url("/assets/img/header-background.svg") no-repeat top center;
  background-size: auto 100%;
  h1,
  h2 {
    text-transform: uppercase;
    color: $light-colour;
    padding: 0;
    line-height: 1;
  }
  h1 {
    font-family: $sans-narrow;
    font-size: 4.2em;
    margin: 1em 0 0;
    a {
      color: $light-colour;
      @include transition(color, .3s, ease);
      &:hover {
        color: lighten($light-colour, 10%);
        @include transition(color, .3s, ease);
      }
    }
  }
  h2 {
    font-family: $sans-caption;
    font-size: 1em;
    font-weight: 300;
    margin: 0 0 1em;
  }
}

.no-svg header {
  background: $primary-colour url("/assets/img/header-background.png") no-repeat top center;
}

article {
  background-color: $secondary-colour;
  h5 {
    text-align: center;
    color: $light-colour;
    text-transform: uppercase;
  }
}

section {
  > h3 {
    text-align: center;
    margin: .5em 0;
    color: $light-colour;
    text-transform: uppercase;
    line-height: 1;
  }
  h5 {
    margin: 1em 0;
  }
  &.content-footer {
    padding: 0 20px;
    h5 {
      margin: .5em 0;
    }
  }
  &.question {
    padding: 0 20px;
  }
  &.question-header {
    h2 {
      font-size: 2em;
      text-transform: uppercase;
    }
  }
  &.result {
    padding: 0 20px;
    text-align: center;
    h3 {
      font-family: $sans-narrow;
      font-size: 2.6em;
      margin: 0;
    }
    h5 {
      color: $highlight-colour;
      margin: 0 0 1em;
    }
    img.ale {
      margin: 0;
      @include box-shadow(0, 0, 20px, rgba(0,0,0,.4));
    }
    p {
      line-height: 1.5;
      font-size: .9em;
    }
  }
}

footer {
  background-color: $secondary-colour;
  h6 {
    text-align: center;
    color: $light-colour;
    margin: .5em 0 1em;
    font-weight: 300;
  }
}

a.button {
  display: block;
  margin: 0 auto;
  padding: .7em 0;
  text-align: center;
  background-color: $primary-colour;
  color: $highlight-colour;
  text-transform: uppercase;
  text-decoration: none;
  font-family: $sans-caption;
  font-size: 1.4em;
  line-height: 1;
  font-weight: 700;
  @include transition(background-color, .3s, ease);
  border: 1px solid rgba(255,255,255,.2);
  border-width: 1px 0;
  @include box-shadow(0, 0, 2px, rgba(0,0,0,.6));
  &.button-pulse {
    @include animation(button_pulse, 1s, linear, infinite);
  }
}

a:hover.button {
  background-color: lighten($primary-colour, 5%);
  @include transition(background-color, .3s, ease);
}

@include keyframes(button_pulse) {
  0% {
    background-color: lighten($primary-colour, 10%);
  }
  50% {
    background-color: $primary-colour;
  }
  100% {
    background-color: lighten($primary-colour, 10%);
  }
}

fieldset.title {
  border-top: 3px double $light-colour;
  border-bottom: none;
  border-left: none;
  border-right: none;
  display: block;
  text-align: center;
  font-size: 1em;
  text-transform: uppercase;
  font-family: $sans-caption;
  font-weight: 700;
  margin: .5em auto;
  padding: 0;
  max-width: $max-width;
}

fieldset.title legend {
  padding: 0 10px;
  margin: 0;
}

.select-style {
  border: 1px solid white;
  max-width: $max-width;
  @include border-radius(.5em);
  overflow: hidden;
  background: white url("data:image/png;base64,R0lGODlhDwAUAIABAAAAAP///yH5BAEAAAEALAAAAAAPABQAAAIXjI+py+0Po5wH2HsXzmw//lHiSJZmUAAAOw==") no-repeat 95% 50%;
  text-align: center;
  margin: 1em auto;
}

.select-style select {
  padding: 1em;
  // color: $dark-colour;
  width: $max-width;
  font-weight: 700;
  border: none;
  box-shadow: none;
  background: transparent;
  background-image: none;
  -webkit-appearance: none;
  &:hover {
    cursor: pointer;
  }
}

.select-style select:focus {
  outline: none;
}

.simply-scroll {
  position: relative;
  width: 100%;
  height: 80px;
  overflow: hidden;
  .simply-scroll-clip {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 80px;
  }
  ul {
    overflow: hidden;
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      padding: 0;
      list-style: none;
      float: left;
      width: 80px;
      height: 80px;
      margin: 0 5px;
      overflow: hidden;
      background-color: $primary-colour;
      @include border-radius(1em);
      img {
        float: left;
        border: none;
        display: block;
      }
      .slider-thumbs {
        @extend .clearfix;
      }
      h5 {
        @extend .clearfix;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 1em 0 0;
        padding: 0 .5em;
        font-family: $sans-narrow;
        display: block;
        text-align: center;
        text-transform: uppercase;
        color: lighten($primary-colour, 30%);
        font-size: 11px;
      }
    }
  }
}

/*
 * MEDIA QUERIES
 */

@media only screen and (min-width: 480px) {

  header {
    padding: .5em 0;
    h1 {
      font-size: 4.4em;
      margin: 1.4em 0 0;
    }
    h2 {
      font-size: 1em;
      margin: 0 0 1em;
    }
  }

  section {
    > h3 {
      margin: 1em 0;
    }
    &.content-footer {
      h5 {
        margin: 1em 0;
      }
    }
    &.next {
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  footer {
    h6 {
      margin: 1em 0;
    }
  }

  a.button {
    max-width: $max-width;
    margin: 0 auto;
    padding: 1em 0;
    border-width: 1px;
    @include border-radius(.5em);
  }

}

@media only screen and (min-width: 769px) {

  body {
    background-color: darken($primary-colour, 3%);
    @include transition(background-color, 1s, ease);
  }

  #container {
    position: relative;
    margin: 2% auto;
    max-width: 769px;
    overflow: hidden;
    @include border-radius(.5em);
    @include box-shadow(0, 0, 40px, rgba(0,0,0,.4));
  }

  // body {
  //   background-color: darken($primary-colour, 3%);
  //   @include transition(background-color, 1s, ease);
  // }

  // #container {
  //   position: relative;
  //   margin: 2% auto;
  //   width: 469px;
  //   overflow: hidden;
  //   @include border-radius(1.4em);
  //   @include box-shadow(0, 0, 40px, rgba(0,0,0,.4));
  // }

}

@import 'helpers';
@import 'print';